#nav-bar {
  padding: 0;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;  
  background-color: white;
}

#navbutton {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid rgb(64, 9, 139);;
}

#navbutton:hover {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 4px #6d44a21c;
}

.navbar-nav {
  display: flex;
  justify-content: center;  
  width: 100%;
}

#nav-phone{
  display: block;
  width: 160px;
}